:root{
    --clr-primary-dark-blue : hsl(238, 29%, 16%);
    --clr-primary-light-red : hsl(14, 88%, 65%);

    --clr-neutral-blue-700 : hsl(237, 12%, 33%);
    --clr-neutral-blue-800 : hsl(240, 6%, 50%);

    --ff-primary : 'Kumbh Sans', sans-serif ;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

html,
body{
    min-width: 350px;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--clr-neutral-blue-800);
}

.bg-color-gradient{
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    display: unset;
    margin: 1vh 0vh 1vh 0vh;
    background-color: white;
    border-radius: 25px;
    padding: 0em 1.5em 1.8rem 1.5em;
    width:320px;
    height: 500px;

}


h1{
    color: var(--clr-neutral-blue-700);
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 1.5rem ;
    margin-bottom: 2rem;
}

.imgWrapper{
    position: relative;
    max-width: 250px;
    grid-row: 1 / 2;
    top: -1vh;
}

.boxContainer{
    position: relative;
    width: 120px;
}

.emailBoxImg{
    position: absolute;
    grid-row: 1 / 2;
    z-index: 10;
    top: -45px;
    left: -20px;
    width: 120px;
    visibility: visible;
}

.shawdowImgMobile{
    position: relative;
    top: 2vh;
}

.shawdowImgDesktop{
    display: none;
}

.mainImg{
    position: absolute;
    top: -100px;
    left: 0;
}

.questionsList{
    grid-row: 2 / 3;
    width: 100%;
}

.clickable{
    display: grid;
    grid-template-columns: 1fr 4vh;
    width: 100%;
    text-align: left;
    background-color: white;
    border: none;
}

.clickable:hover{
    color: var(--clr-primary-light-red);
}

.question{
    font-weight: 400;
    color: var(--clr-neutral-blue-700);
}

.arrow{
    width: 1em;
    margin-left: auto;
}

.answer{
    width: 85%;
    line-height: 1.4;
    font-size: 0.7rem;
    margin-bottom: 1em;
}

.divider{
    width: 100%;
    height: 1px;
    margin: 1em 0rem 1em 0rem;
    border: none;
    background-color: var(--clr-neutral-blue-800);
    opacity: 30%;
}

@media only screen and (min-width: 1080px){

    body{
        font-size: 1.5rem;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        position: absolute;
        margin: auto;
        padding: 2em 3em 3em 3em;
        width: 900px;
        height: 500px;
        /* overflow: hidden; */
    }

    .imgWrapper{
        grid-column: 1 / 2;
        width: 100%;
        max-width: none;
        grid-row: 1/2;
        left: -40%;
        top: 14%;
        width: 120%;
        clip-path: inset(-170px 0px 30px 17%);
    }

    .boxContainer{
        position: inherit;
        top: 40%;
        left: -10%;
        width: 180px;
    }

    .shawdowImgMobile{
        display: none;
    }
    
    .shawdowImgDesktop{
        position: relative;
        display: block;
        top: -50%;
        left: -100%;
        width: 200%;
    }

    .emailBoxImg{
        position: relative;
        left: 0%;
        top: 0%;
        width: 100%;
    
    }

    h1{
        text-align: left;
        font-size: 1.8rem;
    }

    .questionsList{
        grid-column: 2 / 3;
        grid-row: 1/2;
        width: 80%;        
    }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }